include graphtool-0.8.1-py2.6.egg
include graphtool.spec
recursive-include static_content *.css *.js *.png
recursive-include examples *
recursive-include static_content *
recursive-include src/graphtool *
