.white_bg {
  background-color  : #fff;
}

#gc_full_chart_div {
  font-size     : 12px;
}


#gc_title_div h3 {
  color         : black;
  font-size     : 1.6em;
  margin        : 0.2em;
}

#gc_title_div p {
  color         : black;
  font-size     : 1.1em;
}

#gc_legend_div {
  text-align: center;
}

/*
 * google charts convention table styles
 */
div.gc_conv_wraper {
  display           : flex;
  align-items       : center;
  background-color  : #fff;
}

div.gc_conv_quality_map_text {
  font-size         : 1.6em;
  color             : black;
  position          : absolute;
  height            : 100%;
  border-left-color : black;
  border-left-style : dashed;
  border-left-color : black;
  border-left-width : 0.1em;
}

div.gc_conv_quality_map_box {
  border-style    : solid;
  border-color    : black;
  border-width    : 0.1em;
  display         : inline-block;
  height          : 2.0em;
  width           : 80%;
  position        : relative;
}

div.gc_conv_color_box {
  display         : inline-block;
  height          : 1em;
  width           : 1em;
  margin          : 0.2em;
  border-width    : 0.1em;
  border-style    : solid;
  border-color    : #000000;
}

div.gc_conv_value_box {
  display         : flex;
  align-items     : center;
  text-align      : left;
  font-size       : 1em;
}

div.gc_options_accordion_wrapper {
  width           : auto;
  text-align      : left;
}
