.white_bg {
  background-color  : #fff;
}

#gc_title_div h3 {
  color         : black;
  font-size     : 16px;
  margin        : 2px;
}

#gc_title_div p {
  color         : black;
  font-size     : 12px;
}

/*
 * google charts convention table styles
 */
div.gc_conv_wraper {
  display           : flex;
  align-items       : center;
  background-color  : #fff;
}

div.gc_conv_color_box {
  display         : inline-block;
  height          : 10px;
  width           : 10px;
  margin          : 2px;
  border-width    : 1px;
  border-style    : solid;
  border-color    : #000000;
}

div.gc_conv_value_box {
  display         : flex;
  align-items     : center;
  text-align      : left;
  font-size       : 10px;
}

div.gc_options_accordion_wrapper {
  width           : auto;
  text-align      : left;
}
